# Database (SQLite for dev, PostgreSQL for production)
DATABASE_URL="file:./dev.db"
# DATABASE_URL="postgresql://user:password@host:5432/dbname?sslmode=require"

# NextAuth
NEXTAUTH_SECRET="gere-uma-chave-aleatoria-aqui"
NEXTAUTH_URL="http://localhost:3000"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Email (Gmail com senha de app)
EMAIL_USER=""
EMAIL_PASS=""
